* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  font-size: large;
}

p {
  font-size: large;
  padding-top: 5px;
}

.header-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-content: space-around;
  height: 60px;
  align-items: center;
  background-image: radial-gradient(
    rgba(110, 186, 230, 0.9),
    rgba(104, 178, 228, 0.91),
    rgba(98, 171, 226, 0.92),
    rgba(93, 163, 224, 0.93),
    rgba(87, 156, 222, 0.94),
    rgba(81, 148, 220, 0.95),
    rgba(75, 141, 219, 0.95),
    rgba(69, 133, 217, 0.96),
    rgba(63, 126, 215, 0.97),
    rgba(58, 118, 213, 0.98),
    rgba(52, 111, 211, 0.99),
    rgb(46, 103, 209)
  );
}

.header-list-item {
  font-size: medium;
  border: rgba(9, 9, 199, 0.781) solid 1px;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 7px 7px 14px -2px rgb(49, 153, 238);
  -moz-box-shadow: 7px 7px 14px -2px rgb(49, 153, 238);
  box-shadow: 7px 7px 14px -2px rgb(49, 153, 238);
  cursor: pointer;
  background-color: skyblue;
}

.box-header {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(
    to right,
    rgba(235, 231, 221, 0.67),
    rgba(235, 225, 210, 0.7),
    rgba(235, 219, 199, 0.73),
    rgba(235, 213, 188, 0.76),
    rgba(235, 207, 177, 0.79),
    rgba(235, 201, 166, 0.82),
    rgba(235, 195, 154, 0.85),
    rgba(235, 189, 143, 0.88),
    rgba(235, 183, 132, 0.91),
    rgba(235, 177, 121, 0.94),
    rgba(235, 171, 110, 0.97),
    rgb(235, 165, 99)
  );
  height: 320px;
}

.header-img {
  height: 300px;
  border: thin;
  border-radius: 5px;
}

.box-header-item {
  width: 500px;
  height: 500px;
  align-items: center;
  font-size: larger;
}

#header-text {
  padding-top: 5%;
}

.box-type1 {
  display: flex;
  justify-content: space-around;
  background-image: radial-gradient(
    rgba(110, 186, 230, 0.9),
    rgba(104, 178, 228, 0.91),
    rgba(98, 171, 226, 0.92),
    rgba(93, 163, 224, 0.93),
    rgba(87, 156, 222, 0.94),
    rgba(81, 148, 220, 0.95),
    rgba(75, 141, 219, 0.95),
    rgba(69, 133, 217, 0.96),
    rgba(63, 126, 215, 0.97),
    rgba(58, 118, 213, 0.98),
    rgba(52, 111, 211, 0.99),
    rgb(46, 103, 209)
  );
  padding-left: 40px;
  padding-bottom: 20px;
  color: rgb(0, 1, 7);
}

.box-type2 {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(
    to right,
    rgba(119, 182, 219, 0.9),
    rgba(127, 178, 203, 0.91),
    rgba(135, 173, 188, 0.92),
    rgba(144, 169, 172, 0.93),
    rgba(152, 164, 156, 0.94),
    rgba(160, 160, 140, 0.95),
    rgba(168, 155, 125, 0.95),
    rgba(176, 151, 109, 0.96),
    rgba(184, 146, 93, 0.97),
    rgba(193, 142, 77, 0.98),
    rgba(201, 137, 62, 0.99),
    rgb(209, 133, 46)
  );
  padding-bottom: 20px;
  padding-top: 10px;
}

.article {
  padding-left: 30%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.column-name {
  padding-top: 10px;
  padding-bottom: 10px;
}

.first-box-result {
  padding-left: 35%;
  font-size: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #164d7a;
  color: aliceblue;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #164d7a;
  color: #fff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  list-style: none;
}

.theme-name {
  font-style: italic;
  font-size: large;
}

.first-box-item {
  max-width: 40%;
}

.second-box-item {
  max-width: 75%;
}

.box-names {
  background-image: linear-gradient(
    to right,
    rgb(74, 139, 224),
    rgb(86, 137, 222),
    rgb(98, 135, 220),
    rgb(110, 133, 218),
    rgb(122, 131, 216),
    rgb(134, 129, 214),
    rgb(147, 126, 212),
    rgb(159, 124, 210),
    rgb(171, 122, 208),
    rgb(183, 120, 206),
    rgb(195, 118, 204),
    rgb(207, 116, 202)
  );
  display: flex;
}

.logo-2 {
  padding: 10%;
}

.parents-img {
  padding-top: 50%;
  border: thin;
  border-radius: 5px;
}
.business-img {
  padding: 1%;
}
.sport-img {
  padding: 1%;
}

.love-img {
  padding: 1%;
}
.childs-img {
  padding: 1%;
}
.changes-img {
  padding: 1%;
}

.footer-team-button {
  border: solid 1px skyblue;
  color: #fff;
  background-color: steelblue;
  margin: 5px;
  width: 150px;
  height: 30px;
  font-size: larger;
  font-style: italic;
  display: inline;
  justify-content: center;
  padding: 3px;
}

.box-type3 {
  background-image: linear-gradient(
    to right,
    rgba(119, 182, 219, 0.9),
    rgba(127, 178, 203, 0.91),
    rgba(135, 173, 188, 0.92),
    rgba(144, 169, 172, 0.93),
    rgba(152, 164, 156, 0.94),
    rgba(160, 160, 140, 0.95),
    rgba(168, 155, 125, 0.95),
    rgba(176, 151, 109, 0.96),
    rgba(184, 146, 93, 0.97),
    rgba(193, 142, 77, 0.98),
    rgba(201, 137, 62, 0.99),
    rgb(209, 133, 46)
  );
  padding: 3%;
}

.description {
  display: flex;
  justify-content: center;
  font-size: larger;
}

.description-content {
  text-align: center;
}
