/*Responsive*/
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .wrapper {
    width: 960px;
  }

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .wrapper {
    width: 720px;

  }

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .wrapper {
    width: 540px;
  }

/* 320px - 576px */
@media screen and (max-width: 568px) {
  .navigation {
    /*width: 90%;*/
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .header-list-item {
    font-size: small;
  }
  .header-img {
    height: 100px;
    width: 100px;
  }
  .container {
    /*width: 90%;*/
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .footer {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
}