* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Montserrat;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-type: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.main.container {
  text-align: center;
  margin-top: 120px;
  margin-left: 250px;
  margin-right: 250px;
}

.back-button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #ffd429ad;
  border-radius: 8px;
  font-family: sans-serif;
  color: #040b69;
  transition: 0.2s ease-in-out;
  background: #ffd738;
  text-align: center;
}

.header {
  background-color: #164d7a;
  background: #164d7a;
  color: #2f9da1;
  text-align: center;
  font-family: Verdana;
  font-style: italic;
  font-size: 14px;
  list-style: none;
  padding-bottom: 20px;
  padding-top: 20px;
}

.team-list {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  columns: 4;
  justify-content: center;
  background-image: radial-gradient(
    rgba(26, 126, 184, 0.9),
    rgba(38, 134, 187, 0.91),
    rgba(51, 141, 191, 0.92),
    rgba(63, 149, 194, 0.93),
    rgba(75, 157, 198, 0.94),
    rgba(88, 164, 201, 0.95),
    rgba(100, 172, 205, 0.95),
    rgba(113, 179, 208, 0.96),
    rgba(125, 187, 212, 0.97),
    rgba(137, 195, 215, 0.98),
    rgba(150, 202, 219, 0.99),
    rgb(162, 210, 222)
  );
}

.team-list-item {
  width: 280px;
  padding: 2px;
  text-align: center;
  margin-right: 14px;
  margin-left: 14px;
  margin-bottom: 55px;
  align-self: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.member-name {
  font-weight: 700;
  font-size: 20px;
}

.member-position {
  font-weight: 100;
  font-size: 12px;
}

.team-member-photo {
  border: solid 0.5px rgb(14, 35, 104);
  -webkit-box-shadow: 2px 10px 59px -3px rgb(25, 95, 199);
  -moz-box-shadow: 2px 10px 59px -3px rgb(27, 94, 196);
  box-shadow: 2px 10px 59px -3px rgba(43, 113, 217, 1);
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #164d7a;
  color: #fff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  list-style: none;
}

.year {
  color: grey;
}

.team-member-photo {
  transition: filter 1.2s ease-in-out;
  -webkit-filter: grayscale(99%);
  filter: grayscale(99%);
}

.team-member-photo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
