* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 5px;.
  -webkit-box-shadow: 0px 0px 31px 4px rgba(41,148,230,1);
  -moz-box-shadow: 0px 0px 31px 4px rgba(41,148,230,1);
  box-shadow: 0px 0px 31px 4px rgba(41,148,230,1)
}

li {
  font-size: large;
}

p {
  font-size: large;
  padding-top: 5px;
}

.header-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-content: space-around;
  height: 60px;
  align-items: center;
  background-image: radial-gradient(rgba(110, 186, 230, 0.9), rgba(104, 178, 228, 0.91), rgba(98, 171, 226, 0.92), rgba(93, 163, 224, 0.93), rgba(87, 156, 222, 0.94), rgba(81, 148, 220, 0.95), rgba(75, 141, 219, 0.95), rgba(69, 133, 217, 0.96), rgba(63, 126, 215, 0.97), rgba(58, 118, 213, 0.98), rgba(52, 111, 211, 0.99), rgb(46, 103, 209));
}

.header-list-item {
  font-size: medium;
  border: rgba(9, 9, 199, 0.781) solid 1px;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 7px 7px 14px -2px rgb(49, 153, 238);
  -moz-box-shadow: 7px 7px 14px -2px rgb(49, 153, 238);
  box-shadow: 7px 7px 14px -2px rgb(49, 153, 238);
  cursor: pointer;
  background-color: skyblue;
}

.box-header {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, rgba(119, 182, 219, 0.9), rgba(127, 178, 203, 0.91), rgba(135, 173, 188, 0.92), rgba(144, 169, 172, 0.93), rgba(152, 164, 156, 0.94), rgba(160, 160, 140, 0.95), rgba(168, 155, 125, 0.95), rgba(176, 151, 109, 0.96), rgba(184, 146, 93, 0.97), rgba(193, 142, 77, 0.98), rgba(201, 137, 62, 0.99), rgb(209, 133, 46));
  height: 320px;
}

.header-img {
  height: 300px;
  border: thin;
  border-radius: 5px;
}

.box-header-item {
  width: 500px;
  height: 500px;
  align-items: center;
  font-size: larger;
}

#header-text {
  padding-top: 5%;
}

.box-type1 {
  display: flex;
  justify-content: space-around;
  background-image: radial-gradient(rgba(110, 186, 230, 0.9), rgba(104, 178, 228, 0.91), rgba(98, 171, 226, 0.92), rgba(93, 163, 224, 0.93), rgba(87, 156, 222, 0.94), rgba(81, 148, 220, 0.95), rgba(75, 141, 219, 0.95), rgba(69, 133, 217, 0.96), rgba(63, 126, 215, 0.97), rgba(58, 118, 213, 0.98), rgba(52, 111, 211, 0.99), rgb(46, 103, 209));
  padding-left: 40px;
  padding-bottom: 20px;
  color: rgb(0, 1, 7);
}

.box-type2 {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, rgba(119, 182, 219, 0.9), rgba(127, 178, 203, 0.91), rgba(135, 173, 188, 0.92), rgba(144, 169, 172, 0.93), rgba(152, 164, 156, 0.94), rgba(160, 160, 140, 0.95), rgba(168, 155, 125, 0.95), rgba(176, 151, 109, 0.96), rgba(184, 146, 93, 0.97), rgba(193, 142, 77, 0.98), rgba(201, 137, 62, 0.99), rgb(209, 133, 46));
  padding-bottom: 20px;
  padding-top: 10px;
}

.article {
  padding-left: 30%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.column-name {
  padding-top: 10px;
  padding-bottom: 10px;
}

.first-box-result {
  padding-left: 35%;
  font-size: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #164d7a;
  color: aliceblue;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #164d7a;
  color: #fff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  list-style: none;
}

.theme-name {
  font-style: italic;
  font-size: large;
}

.first-box-item {
  max-width: 40%;
}

.second-box-item {
max-width: 75%;
}

.box-names {
  background-image: linear-gradient(to right, rgb(101, 115, 255), rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231), rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(196, 108, 176), rgb(206, 107, 168));
}

.img-in-box {
  padding-top: 20%;
  border-radius: 5px;
}

.img-in-box2 {
  padding-top: 5%;
  padding-left: 10%;
  border-radius: 5px;
}
}

.img-in-box3 {
  padding-left: 25%;
  padding-top: 10px;
  border-radius: 5px;
}
}